<h1>New Appraisal Detail</h1>

<%=render 'form', appraisal_detail: @appraisal_detail%>

<%=link_to 'Back',appraisal_details_path, class: 'btn btn-secondary correct-button-position-appraisal_details'%>