<h1>Designation Details</h1>

<dl class="row">
    <dt class="col-sm-3">Title:</dt>
    <dd class=col-sm-9"><%=@designation.title%></dd>
</dl>
<%= link_to 'Back to Designation', designations_path, class: 'btn btn-secondary'%>