// Place all the styles related to the KRAs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.correct-button-position-kra{
    position: absolute;
    left: 81%;
    bottom: 26%;
}